@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  cursor: url("gam1552.cur");
}

::-moz-selection {
  color: #fff;
  background: #7c3aed;
}

@keyframes crab {
  0%,
  100% {
    transform: translateY(0);
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-crab {
  animation: crab 1s linear infinite;
}
